<% conference = Conference.find_by(current: true) %>
<% schedules_present = defined?(@schedules) && @schedules.present? %>
<% if conference %>
  <div class="flex flex-col items-center">
      <h1 class="text-2xl font-bold mb-4">Upcoming Conference <%= conference.edition %></h1>
      <p class="text-gray-600">
        <strong>When:</strong>
        <%= conference.start_date.strftime("%b %-d, %Y") %>
        –
        <%= conference.end_date.strftime("%b %-d, %Y") %><br>
        <strong>Host:</strong> <%= conference.host %><br>
        <strong>Location:</strong> <%= conference.location %><br>
      </p>
      <p class="text-lg">Here you can add more (rendered) information about the upcoming conference.</p>
      <div class="flex justify-center space-x-4 mt-6">
        <sl-button pill disabled>Register</sl-button>
        <sl-button pill id="schedule-button" type="button" <%= "disabled" unless schedules_present %>>Schedule</sl-button>
        <sl-button pill disabled>More information</sl-button>
      </div>
  </div>
<% else %>
  <p>No current conference scheduled.</p>
<% end %>
