<% if @conferences.reject(&:current).any? %>
  <ul>
    <% @conferences.reject(&:current).each do |c| %>
      <sl-card class="card-image">
        <%= image_tag conference_image_source(c), slot: "image", alt: "Conference image" %>
        <h2 class="text-xl font-bold mb-3">Conference <%= c.edition %> <%= "(current)" if c.current %></h2>
        <p class="text-gray-600">
          <strong>When:</strong>
          <%= c.start_date.strftime("%b %-d, %Y") %>
          –
          <%= c.end_date.strftime("%b %-d, %Y") %><br>
          <strong>Host:</strong> <%= c.host %><br>
          <strong>Location:</strong> <%= c.location %>
        </p>
      </sl-card>
    <% end %>
  </ul>
<% else %>
  <p>No conferences have been created yet.</p>
<% end %>

<style>
  .card-image {
    max-width: 300px;
  }
</style>
